{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Подключаем локальный Bootstrap CSS -->
    <link href="{% static 'djangotesty/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

    <!-- Ваше содержимое здесь... -->

    <!-- Подключаем локальный Bootstrap JS -->
    <script src="{% static 'djangotesty/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>